{sub_dirs, [
  "lib/erlang/apps/beehive",
  "lib/erlang/apps/beehive_router",
  "lib/erlang/apps/beehive_dashboard",
  "rel"
]}.

{deps, [
  {gen_cluster, ".*", {git, "git://github.com/auser/gen_cluster.git", "master"}},
  {gproc, ".*", {git, "git://github.com/auser/gproc.git", "master"}},
  {mochiweb, ".*", {git, "git://github.com/auser/mochiweb.git", "master"}},
  {misultin, ".*", {git, "git://github.com/auser/misultin.git", "master"}},
  {simple_bridge, ".*", {git, "git://github.com/auser/SimpleBridge.git", "master"}},
  {erlymock, ".*", {git, "git://github.com/jdunphy/erlymock.git", "master"}}
]}.

{edoc_opts, [
  {packages, false}
]}.
