{sub_dirs, [
  "lib/erlang/apps/beehive",
  "lib/erlang/apps/beehive_router",
  "lib/erlang/apps/beehive_dashboard",  
  "rel"
]}.

{deps, [
  {gen_cluster, ".*", {git, "git://github.com/auser/gen_cluster.git", "master"}},
  {gproc, ".*", {git, "git://github.com/auser/gproc.git", "master"}},
  {babysitter, ".*", {git, "git://github.com/auser/babysitter.git", "master"}},
  {neotoma, ".*", {git, "http://github.com/auser/neotoma.git", "master"}},
  {mochiweb, ".*", {git, "http://github.com/auser/mochiweb.git", "master"}},
  {misultin, ".*", {git, "git://github.com/auser/misultin.git", "master"}},
  {simple_bridge, ".*", {git, "git://github.com/auser/SimpleBridge.git", "master"}}
]}.