#heading.container
  .contents
    %h1 Beehive
    #tagline
      swarms of applications
  #menu
    %ul
      %li.first
        %a.menu_selected{:href => "/"} Home
      %li
        %a.menu{:href => "/about"} About
      %li.last
        %a.menu{:href => "http://github.com/auser/beehive"} Code
