%h2.question What

%p
  Beehive is an application deployment framework aimed at making it easy to deploy applications seamlessly into your cloud at the call of a single command:

  %pre
    %code
      git push

%h2.question How

%p
  Beehive is written in a combination of Erlang and Ruby.

%p
  Beehive defines two types of instances in the bee, routers and nodes. The difference is defined below:
  
%pre
  %code
    Routers
    Nodes

%p
  Check out the code on
  %a{:href => "http://github.com/auser/beehive"} github.

%h2.question Community

%p
  There is a growing community of developers on Beehive.