!!! Strict
%html{:xmlns => 'http://www.w3.org/1999/xhtml', :lang => 'en', 'xml:lang' => 'en'}
  %head
    %title Beehive

    %meta{'http-equiv' => 'Content-Type', :content => 'text/html; charset=utf-8'}

    %script{:src => '/javascript/jquery.js'}

    %link{:rel => 'stylesheet', :href => '/css/reset.css', :type => 'text/css', :media => 'all'}
    %link{:rel => 'stylesheet', :href => '/css/screen.css', :type => 'text/css', :media => 'all'}

  %body
    #wrap
      #head
        %ul
          %li
            %a{:href => '/'} Home
          %li
            %a{:href => '/about'} About
      #content
        = yield