[
 %% Beehive config
 {beehive, [
  {root_dir, "/var/beehive"},
  {beehive_app_port, 4999}, % port used by the beehive dashboard
  {client_port, 8080},      % port used by the router
  {app_config_dir, undefined} % use default
 ]},
 
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
         ]}
].

