{sys, [
  {lib_dirs, [
    "../lib/erlang/apps",
    "../deps"
  ]},
  {rel, "beehive", "0.0.1", [
    kernel,
    stdlib,
    sasl,
    os_mon,
    mnesia,
    crypto,
    beehive
  ]},
  {rel, "start_clean", "", [
    kernel,
    stdlib
  ]},
  {boot_rel, "beehive"},
  {profile, embedded},
  {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)"]},
  
  {app, beehive, [{incl_cond, include}]},
  {app, beehive_router, [{incl_cond, include}]},
  {app, beehive_storage, [{incl_cond, include}]},
  {app, beehive_node, [{incl_cond, include}]},
  {app, sasl, [{incl_cond, include}]}
]}.

{rebar, [
  {empty_dirs, [
    "log/sasl"
  ]},

  {overlay, "overlay"}
]}.
