{sys, [
  {lib_dirs, [
    "../lib/erlang",
    "../lib/erlang/deps"
  ]},
  {rel, "beehive", "0.0.1", [
    kernel,
    stdlib,
    sasl,
    babysitter
  ]},
  {rel, "start_clean", "", [
    kernel,
    stdlib
  ]},
  {boot_rel, "beehive"},
  {profile, embedded},
  {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)"]},
  
  {app, babysitter, [{incl_cond, include}]},
  {app, sasl, [{incl_cond, include}]}
]}.

{rebar, [
  {empty_dirs, [
    "log/sasl"
  ]},

  {overlay, "overlay"}
]}.
