%%
%% etc/app.config
%%
% {home_dir, "$BEEHIVE_HOME/var/lib/beehive"},
{path, "/usr/bin:/usr/local/bin:/bin"},
{default_app_port, 4999}, % port used by the beehive dashboard
{client_port, 8080},      % port used by the router
{app_config_dir, undefined} % use default

%%
%% etc/vm.args
%%
{node,         "beehive@127.0.0.1"}.

%%
%% bin/beehive
%%
{runner_script_dir,  "$(cd ${0%/*} && pwd)"}.
{runner_base_dir,    "${RUNNER_SCRIPT_DIR%/*}"}.
{runner_etc_dir,     "$RUNNER_BASE_DIR/etc"}.
{runner_log_dir,     "$RUNNER_BASE_DIR/log"}.
{pipe_dir,           "/tmp/$RUNNER_BASE_DIR/"}.
{runner_user,        ""}.
