{erl_opts, [debug_info]}.

{deps, [
  {gen_cluster, ".*", {git, "git://github.com/auser/gen_cluster.git", "stable-0.1"}},
  {neotoma, "1.4", {git, "http://github.com/auser/neotoma.git", "otp-1.4"}},
  {babysitter, ".*", {git, "git://github.com/auser/babysitter.git", "rebar-0.2"}},
  {mochiweb, ".*", {git, "http://github.com/auser/mochiweb.git", "stable-0.1"}}
]}.