%h3
  New App

:if error
  #error Failed to create app.  Name and repo url are required.

#new_app
  %form{ action: "#/apps/create", method: "post" }
    
    %label App Name:
    %input{ type: "text", name: "name" }    
    %br
    
    %label App Repo URL:
    %input{ type: "text", name: "repo_url" }
    %br
    
    %label VCS type
    %select{name: "repo_type"}
      :each type in vcs_types
        %option= type
    
    %label App Template:
    %select{name: "template"}
      :each type in app_types
        %option= type
    %br
    %label Branch:
    %input{ type: "text", name: "branch", value: "master" }
    %br
    %label Deploy Env (RAILS_ENV/RACK_ENV):
    %input{ type: "text", name: "deploy_env", value: "production" }
    %br

    %input{ type: "submit", value: "Create App"}
