%h3
  New App

#new_app
  %form{ action: "#/apps/create", method: "post" }
    
    %label App Name:
    %input{ type: "text", name: "name" }    
    %br
    
    %label App URL:
    %input{ type: "text", name: "url" }
    %br
    
    %label App Template:
    %select{name: "template"}
      :each type in app_types
        %option= type
    %br

    %input{ type: "submit", value: "Create App"}